# Flutter/Dart/Pub
.dart_tool/
.packages
.pub-cache/
.pub/
.flutter-plugins
.flutter-plugins-dependencies
build/
*.iml

# IDE
.idea/
.vscode/
*.iws
*.ipr

# OS
.DS_Store
Thumbs.db

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/key.properties
android/app/google-services.json

# iOS
ios/Pods/
ios/Runner.xcworkspace/
ios/GeneratedPluginRegistrant.*
ios/Flutter/flutter_export_environment.sh
ios/GoogleService-Info.plist

# Sensitive files
*.keystore
*.jks
*.p12
*.key
*.mobileprovision

# Logs
*.log

# Miscellaneous
*.class
*.pyc
*.swp
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
app.*.symbols
app.*.map.json
